<html>
<head>
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" />
    <link rel="stylesheet" type="text/css" href="../web/css/common.css" />
</head>
<body>