<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">

<title>이용 약관 | 개인정보 처리방침 | 유료서비스 이용약관 | 서비스 운영 정책</title>
<style type="text/css">
/* -------------------- reset -------------------- */
* {font-family:'Noto Sans KR', sans-serif;}
html, body {margin:0; padding:0; width:100%; height:100%; font-family:'Noto Sans KR', sans-serif; color:#161a29; font-size:13px; line-height:1.4; letter-spacing:-0.4px; background:none;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, legend, em, span {margin:0; padding:0; font-family:'Noto Sans KR', sans-serif;}
table {border-spacing:0; border-collapse:collapse; font-family:'Noto Sans KR', sans-serif;}
th, td {word-break:break-all;}
form, fieldset {display:block;}
form, fieldset, img {border:none;}
address, caption, cite, code, dfn, em, th, var {font-style:normal; font-weight:normal;}
ol, ul, li {list-style:none;}
abbr, acronym {border:none;}
hr {display:none;}
a {color:#000; text-decoration:none; cursor:pointer; font-family:'Noto Sans KR', sans-serif;}
a:link, a:visited {text-decoration:none;}
a:hover, a:active, a:focus {text-decoration:none;}
textarea {overflow:auto; resize:none;}
html:first-child select {min-height:20px;} /* opera 9 & below fix */
option {padding-right:6px;} /* firefox fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* for screen reader */
pre {word-wrap:break-word;}
label {font-family:'Noto Sans KR', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family:'Noto Sans KR', sans-serif;}
br {background:none !important;}
img {vertical-align:top;}
a:focus, input:focus, textarea:focus, button:focus {outline:none !important;}
button {border:none; margin:0; padding:0; background:transparent; cursor:pointer;}

/* input 기본 스타일 초기화 */
input, textarea {border:none; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {margin:0; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
input[type=number] {-moz-appearance:textfield;}
input[type=number]:-ms-clear {display:none;}
input[type=number]::-ms-clear {display:none;}
input[type=numberOnly]:-ms-clear {display:none;}
input[type=numberOnly]::-ms-clear {display:none;}
input[type=text]:-ms-clear {display:none;}
input[type=text]::-ms-clear {display:none;}
input {filter:none;}
input:-webkit-autofill {-webkit-box-shadow:0 0 0 30px none inset; -webkit-text-fill-color:#35384d;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {transition:background-color 5000s ease-in-out 0s; }
input:invalid {box-shadow:none;}
input::-moz-submit-invalid {box-shadow:none;}
input::-moz-ui-invalid {box-shadow:none;}
input:focus {outline:none;}
select:focus {outline:none;}
input::-ms-clear,
input::-ms-reveal {display:none; width:0; height:0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display:none;}

/* Select 기본 스타일 초기화 */
select {border:none; appearance:none; -webkit-appearance:none; -moz-appearance:none; cursor:pointer;}
select:focus {outline:none;}
select::-ms-expand {display:none;}

#termsWrap {display:block; text-align:center;}
/* 이용약관 */
.terms {display:inline-block; width:1000px; margin:0 auto; font-size:16px;}
.terms .tit {display:block; border-bottom:2px solid #333; text-align:center;}
.terms .tit h3 {display:inline-block; padding:15px 0; font-size:2.25em; }
.terms .txt { display:block; font-size:0.8em; line-height:2.0; text-align:left; white-space:pre-wrap; }
.terms .txt strong { color:#000; font-size:1.1em;}
.terms .txt h2 {display:block; padding:15px 0; font-size:2.25em; text-align:center; border-bottom:2px solid #333;}
</style>
</head>

<body>
<div id="termsWrap">
    <!-- .terms -->
    <div class="terms">
        <!-- .tit -->
        <div class="tit">
            <h3>이용약관</h3>
        </div>
        <!-- //.tit -->
        <!-- .txt -->
        <div class="txt">
<strong>제1조 (목적)</strong>
① FANMeeT 서비스 이용약관은 본 약관 및 추후 추가될 수 있는 별도의 약관들을 포함한 ‘서비스’에 대한 전체 약관을 말하며, 이하 ‘약관’이라 합니다. ② FANMeeT 이용약관은 ‘회사’가 홈페이지를 통해 제공하는 FANMeeT (이하, ‘서비스’라 함)를 본 약관에 따라 이용계약을 체결한 이용자(이하, 해당 계약을 ‘이용계약’, 해당 이용자를 ‘회원’이라 함)가 이용함에 있어 ‘회사’와 ‘회원’과의 법률관계를 명확히 함을 그 목적으로 합니다. ③ ‘회사’는 ‘약관’ 및 개인정보처리방침을 ‘회원’이 쉽게 확인할 수 있도록 ‘서비스’의 초기화면 등에 게시합니다.

<strong>제2조 (“팬밋 계정” 생성 및 이용)</strong>
① “팬밋 계정“이란 ‘회사’가 제공하는 ‘서비스’를 사용하기 위해서, ‘회원’이 생성한 로그인 계정을 의미합니다. “팬밋 계정“은 ‘회원’이 ‘약관’에 동의하고, 계정 정보를 입력하시면, ‘회사’가 일정 정보를 인증(이메일 주소 확인)한 후 가입을 인증하는 절차로 생성됩니다. ② ‘회사’가 제공하는 ‘서비스’를 원활히 이용하기 위해서는 “팬밋 계정“이 필요하며, 일부 메뉴 및 ‘서비스’는 ‘회원’ 가입 없이도 이용이 가능합니다. ③ “팬밋 계정“을 생성한 이후에는 ‘회사’가 제공하는 “팬밋 계정“ 연동 서비스 전체를 이용하실 수 있습니다. 다만, ‘회사’의 신규 서비스에 최초 로그인 시 사용 동의 및 개별 서비스 이용약관에 대한 동의 등의 절차를 진행합니다.

<strong>제3조 (이용계약의 체결)</strong>
① ‘이용계약’은 ‘회원’이 되고자 하는 자(이하, ‘가입신청자’라 함)가 ‘약관’의 내용에 대하여 동의를 한 다음 회원가입신청을 하고, ‘회사’가 이러한 신청에 대하여 승낙함으로써 체결되며, ‘가입신청자’는 ‘회사’의 승낙에 따라 ‘이용계약’이 체결되는 시점부터 ‘회원’이 되어 ‘약관’에 따라 ‘서비스’를 이용할 수 있습니다.  ‘회사’는 ‘이용계약’ 체결 과정에서 ‘가입신청자’의 이메일 주소 등의 (개인)정보를 수집할 수 있으며, 이 경우 ‘가입신청자’는 정확한(거짓이 아닌) 정보를 제공하여야 합니다. 본 항에 따른 개인정보의 수집 및 이용과 보관 등에 대해서는 별도로 게시되는 개인정보처리방침이 적용됩니다.  ‘회사’는 ‘가입신청자’의 회원가입신청에 ‘서비스’ 시스템에의 기계적 접근 또는 계정도용, 거짓된 정보의 제공 및 ‘가입신청자’의 ‘서비스’ 어뷰징 내역 확인 등의 사유가 있어 ‘회사’가 ‘가입신청자’의 신청을 승낙하는 것이 적절하지 않은 경우 그 승낙을 유보 또는 거부하거나, 사후에 이용계약을 해지할 수 있습니다. ④ ‘회사'는 아동(내국인의 경우 만14세 미만, 외국인의 경우 만16세 미만)을 대상으로 ‘서비스’를 제공하지 않습니다.

<strong>제4조 (약관의 개정)</strong>
① ‘회사’는 관련법령에 위배되지 않는 범위에서 ‘약관’을 개정할 수 있습니다. ② ‘회사’는 전 항에 따라 ‘약관’을 개정할 경우, 적용일자와 변경내용 및 사유를 명시하여 ‘서비스’를 통해 사전 공지합니다. 다만, 그 변경내용이 법적으로 ‘회원’에게 불리한 것일 경우, 그 적용일자 30일 이전부터 변경내용을 ‘서비스’를 통해 공지할 뿐만 아니라, 해당 내용을 ‘회원’의 이메일, 로그인 시 동의창 등의 전자적 수단을 통해 명확히 통지합니다. ③ ‘회원’은 변경되는 약관에 동의하지 않을 경우 ‘약관’을 통해 체결되었던 ‘서비스’에 대한 이용계약을 해지하고 ‘서비스’의 이용을 중단할 수 있습니다. ④ ‘회사’가 본 조 제2항에 따라 약관의 개정을 공지 또는 통지하면서 적용일자 이전에 거부 의사를 표시하지 않으면 개정 약관에 동의한 것으로 본다는 뜻을 함께 공지 또는 통지하였음에도 불구하고 ‘회원’이 명시적으로 거절의 의사표시를 하지 않은 경우에는 ‘회원’이 개정 약관에 동의한 것으로 봅니다.

<strong>제5조 (서비스의 변경 및 중단 등)</strong>
① ‘회사’는 필요한 경우 ‘서비스’의 내용을 변경할 수 있습니다. 다만, ‘서비스’ 내용의 변경이 ‘회원’의 권리와 의무에 중대한 영향을 미치는 경우에는 제4조에 따른 공지 및 통지의 절차를 거쳐 변경합니다. ② ‘회사’는 정보통신설비의 보수점검, 교체 및 고장, 통신두절 또는 운영상 상당한 이유가 있는 경우 ‘서비스’의 제공을 일시적으로 중단할 수 있습니다. ③ ‘회사’는 ‘서비스’의 제공에 필요한 경우 정기점검을 실시할 수 있으며, 정기점검이 실시되는 과정에서 ‘서비스’의 제공을 일시적으로 중단할 수 있습니다. ④ ‘회사’는 ‘회사’의 경영상의 이유 등의 사유로 ‘서비스’를 중단할 수 있습니다.

<strong>제6조 (광고의 게재)</strong>
‘회사’는 ‘서비스’에 ‘회사’ 또는 제3자의 광고를 게재할 수 있습니다.

<strong>제7조 (회원의 권리 및 의무)</strong>
① ‘회원’은 ‘서비스’를 통해 ‘회원’에게 제공되는 피드, 동영상, 사진, 멤버십 서비스 기능, 유료컨텐츠 등의 콘텐츠(이하 ‘콘텐츠’라 함)를 개인적, 비영리적으로 사용하고 ‘회사’가 ‘서비스’를 통해 허용하는 행위(예를 들면 댓글을 작성하는 행위 등)를 할 수 있습니다. ② ‘회원’은 전 항의 제한된 권리 외에 ‘서비스’를 통하여 제공 받은 ‘콘텐츠’에 대해 어떠한 권리도 취득하지 않습니다. ③ ‘회원’은 ‘콘텐츠’를 다음 각 호와 같이 본 조에 의해 허락 받은 범위를 넘어서서 이용하는 행위를 해서는 안되며, 이와 같은 행위를 할 경우 그에 대한 모든 민형사상 법적 책임을 집니다. 1. ‘콘텐츠’를 임의로 별도의 동영상 파일 등으로 제작하는 행위 2. ‘콘텐츠’를 임의로 인터넷에 게시하는 행위 3. ‘콘텐츠’를 임의로 제3자에게 제공하는 행위 4. 기타 ‘콘텐츠’에 대한 모든 저작권 침해 행위 ④ ‘회원’은 ‘서비스’의 서버와 네트워크 시스템에 허락되지 않은 방식으로 접근하는 일체의 행위 또는 ‘서비스’의 제공을 방해하는 행위를 해서는 안됩니다. ⑤ ‘회원’은 다음 각 호와 같은 행위를 해서는 안됩니다. 1. ‘회사’에 허위정보를 제공하거나 타인의 정보를 도용하는 행위 2. ‘회사’와 기타 제3자의 저작권 등 지적재산권에 대한 침해 행위 3. ‘회사’와 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위 4. ‘회사’의 동의 없이 ‘서비스’를 영리적으로 사용하는 행위 5. ‘서비스’와 관련하여 ‘회사’를 사칭하거나 허위 정보를 유포하는 행위 6. 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 등 관련법령에서 금지하는 행위 등 기타 불법적이거나 부당한 행위 ⑥ ‘회원’은 ID와 비밀번호에 대한 관리책임이 있으며, ‘회원’의 고의 또는 과실로 일어날 수 있는 각종 손해에 대한 책임은 ‘회원’ 본인에게 있으며, ‘회원’은 자신의 ID 및 비밀번호를 도난 당하거나 제3자가 사용하고 있음을 인지한 경우에는 즉시 ‘회사’에 통보하고 ‘회사’의 안내가 있는 경우에는 그에 따라야 합니다.

<strong>제8조 (회원콘텐츠 작성/운영정책 및 위반 시 제재의 내용)</strong>
① ‘회원’이 작성하는 게시글, 댓글을 포함하는 모든 콘텐츠(이하, ‘회원콘텐츠’라 함)에 대해서는 본 조의 정책이 적용됩니다. ② 금지행위:‘회원’은 아래 각 호의 내용이 포함되는 ‘회원콘텐츠’를 작성하거나 금지하는 행위를 해서는 안됩니다. 1. 타인(‘회사’ 및 ‘회사’ 소속 아티스트 포함)의 명예를 훼손하거나 근거 없이 비방하는 내용 2. 욕설, 음란/외설적 내용, 폭력적인 내용 등 사회 상규와 미풍양속에 반하는 내용 3. 근거 없이 공포심이나 불안감을 지속적으로 유발하는 내용 4. 법령에 따라 금지되는 위법 행위와 관련된 내용 5. 법령에 따라 분류된 영업비밀 또는 국가기밀 등을 누설하는 내용 6. 범죄를 목적으로 하거나 범죄를 교사 또는 방조하는 내용 7. 기타 관련 법령에 따라 게시가 금지된 불법적인 내용 8. 동일/유사한 '회원콘텐츠'를 지속적/반복적으로 게시하는 행위 등 제8조 제3항 내지 제8조 제5항에서 금지하는 행위 ③ 위반 시 제재의 내용:위 금지행위를 위반할 경우, 아래 각 호의 내용과 같은 조치가 취해질 수 있습니다. 1. 위반 사유가 확인되었거나 일정 횟수 이상 신고를 받은 ‘회원콘텐츠’는 자동적으로 임시삭제 조치가 취해지며, 해당 콘텐츠를 작성한 ‘회원’은 해당 콘텐츠가 제2항의 위반 사유에 해당하지 않음을 소명하여 해당 조치를 해제할 수 있습니다.2. 위반 사유가 확인되었거나 일정 횟수 이상 신고를 받은 ‘회원’은 자동적으로 일정한 기간 동안 ‘회원콘텐츠’ 작성이 제한되게 되며, 해당 ‘회원’은 해당 기간 이내에도 자신이 작성한 콘텐츠가 위반 사유에 해당하지 않았음을 소명하여 해당 제한조치를 해제할 수 있습니다. ※ 위 제재의 기준 횟수 및 제재기간은 ‘서비스’의 운영 과정에서 ‘서비스’ 및 ‘회원’을 부적절한 콘텐츠로부터 보호하기 위한 가장 적절한 횟수로 수시로 정해지게 됩니다. ④ 회원이 작성한 ‘회원콘텐츠’에 대한 사용권의 부여:‘회사’는 필요할 경우 ‘회원콘텐츠’를 사용할 수 있습니다.

<strong>제9조 (이용제한)</strong>
① ‘회사’는 본 조의 경우, ‘회원’의 ‘서비스’ 이용을 일시적 또는 영구적으로 제한할 수 있습니다. ② 일시적 이용제한 1. ‘회원’이 제7조의 회원의 의무를 위반하는 경우 2. ‘회원’이 제8조의 ‘회원콘텐츠’ 작성/운영정책을 위반하는 경우 ③ 영구적 이용제한 1. ‘회원’이 제7조의 회원의 의무를 상습적으로 위반하는 경우 2. ‘회원’의 제7조의 의무위반 행위가 범죄를 구성하는 경우 3. ‘회원’이 제8조의 ‘회원콘텐츠’ 작성/운영정책을 상습적으로 위반하는 경우 4. ‘회원’의 제8조의 ‘회원콘텐츠’ 작성/운영정책의 위반 행위가 범죄를 구성하는 경우

<strong>제10조 (회사의 권리, 의무 및 면책)</strong>
① ‘회사’는 ‘서비스’에 대한 모든 권리를 보유합니다. ② ‘회사’는 ‘서비스’를 안정적으로 제공하기 위해 노력하나, 천재지변, 전쟁 및 기타 이에 준하는 불가항력의 경우, 그리고 제5조의 경우에 ‘서비스’ 제공이 중지 또는 중단될 수 있으며, 이에 대해서 ‘회사’는 책임을 지지 않습니다. ③ ‘회사’는 ‘회원’이 ‘콘텐츠’를 이용함으로 인해 발생하는 손해에 대해서 ‘회사’의 고의 또는 과실 등 귀책이 없는 한 책임지지 않습니다.

<strong>제11조 (통지)</strong>
① ‘회사’가 ‘회원’에게 개별 통지하는 경우 ‘약관’에서 달리 정하지 않는 한 이메일 주소로 할 수 있습니다. ② 제1항에도 불구하고 ‘회사’가 불특정 다수의 ‘회원’에게 통지하는 경우 ‘서비스’ 화면에 7일 이상 해당 사실을 게시함으로서 개별 통지에 갈음할 수 있습니다.

<strong>제12조 (팬밋 포인트)</strong>
① ‘회사’는 적립금 개념의 팬밋 포인트 제도를 운영할 수 있습니다. ② 팬밋 포인트란 ‘회사’로부터 상품을 구매하는 등 ‘회사’가 지정한 경우에 보상받는 점수로 상품 구매 시 결제 등 ‘회사’가 정한 경우에 사용될 수 있습니다. ③ ‘회사’의 운영정책에 따라 팬밋 포인트의 적립 및 사용방법이 정해집니다. ④ ‘회원’이 팬밋 포인트를 부당하게 적립한 경우 ‘회사’는 사전통지 없이 ‘회원’의 팬밋 포인트를 삭제할 수 있으며, ‘회원’의 ‘서비스’ 이용을 제한할 수 있습니다. ⑤ ‘회원’ 자격상실 시 ‘회원’의 팬밋 포인트는 소멸되며, 타인에게 양도할 수 없습니다. ⑥ 팬밋 포인트는 ‘회원’이 결제등에 사용하는 통화로 전환되어 사용될 수 있으며, 전환비율은 ‘회사’가 정한 비율에 의합니다.

<strong>제13조 (휴면계정)</strong>
① ‘회원’이 1년동안 ‘서비스’를 이용하지 않았을 경우 원활한 ‘회원’관리를 위하여 휴면계정으로 처리하며, ‘회원’ 활동과 팬밋 포인트의 사용을 제한할 수 있습니다. ② ‘회사’는 ‘회원’이 휴면계정으로 처리된 후 일정기간이 지나면 ‘회사’는 제11조에서 정한 방법으로 통지 후 해당 ‘회원’의 적립금을 소멸시킬 수 있습니다.

<strong>제14조 (손해배상)</strong>
‘회사’와 ‘회원’은 각자의 귀책에 의해 상대방에 손해를 끼친 경우, 그에 대한 손해배상 책임을 집니다. 특히 ‘회원’이 제7조 제3항을 위반하여 ‘콘텐츠’의 저작권을 침해한 경우, ‘회원’은 그에 대한 모든 민형사상 책임을 부담합니다.

<strong>제15조 (서비스 주체의 변경)</strong>
① ‘회사’는 영업의 전부 또는 일부의 양도·합병, 인적·물적 분할, 자산 양수도 등으로 ‘서비스’ 주체가 변경될 경우에는 정보통신망법 제26조에 따라 개인정보의 이전을 ‘회원’에게 알리도록 합니다. ② ‘회사’가 제1항에 따른 ‘서비스’ 주체가 변경될 경우 ‘약관’에 따른 ‘회사’와 ‘회원’이 체결한 ‘이용계약’이 변경되는 ‘서비스’ 주체에게 포괄적으로 이전됩니다. ③ ‘회사’는 ‘회원’이 개인정보의 이전과 ‘이용계약’의 이전을 원하지 아니하는 경우 개인정보 수집 및 이용에 관한 동의와 ‘약관’ 동의를 철회할 수 있는 방법과 절차를 안내합니다.

<strong>제16조 (준거법 및 재판 관할)</strong>
① 본 약관에 대해서는 대한민국법을 준거법으로 하고, 대한민국 법원이 관할권을 갖는 것으로 합니다. ② ‘회사’와 ‘회원’ 간 발생한 분쟁에 관한 소송은 제소 당시의 회원의 주소에 의하고, 주소가 없는 경우 거소를 관할하는 지방법원의 전속관할로 합니다. 단, 제소 당시 회원의 주소 또는 거소가 명확하지 아니한 경우의 관할법원은 민사소송법에 따라 정합니다. 해외에 주소나 거소가 있는 고객의 경우 회사와 고객간 발생한 분쟁에 관한 소송은 대한민국 서울중앙지방법원을 관할법원으로 합니다.


<h2>개인정보처리방침</h2>
<strong>1. 개인정보의 처리 목적 </strong>
(‘fanmeet.curogom.com’이하 ‘FanMeet’) 은(는) 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.
- 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별.인증, 회원자격 유지.관리, 물품 또는 서비스 공급에 따른 금액 결제, 물품 또는 서비스의 공급.배송 등

<strong>2. 개인정보의 처리 및 보유 기간</strong>
① (‘fanmeet.curogom.com’이하 ‘FanMeet’) 은(는) 정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보 보유․이용기간 또는 법령에 따른 개인정보 보유․이용기간 내에서 개인정보를 처리․보유합니다.
② 구체적인 개인정보 처리 및 보유 기간은 다음과 같습니다.
☞ 아래 예시를 참고하여 개인정보 처리업무와 개인정보 처리업무에 대한 보유기간 및 관련 법령, 근거 등을 기재합니다.
(예시)- 고객 가입 및 관리 :서비스 이용계약 또는 회원가입 해지시까지, 다만 채권․채무관계 잔존시에는 해당 채권․채무관계 정산시까지
- 전자상거래에서의 계약․청약철회, 대금결제, 재화 등 공급기록 :5년

<strong>3. 개인정보의 제3자 제공에 관한 사항</strong>
① ('fanmeet.curogom.com'이하 'FanMeet')은(는) 정보주체의 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.
② ('fanmeet.curogom.com')은(는) 다음과 같이 개인정보를 제3자에게 제공하고 있습니다.
- 개인정보를 제공받는 자 :주식회사 알에프탭
- 제공받는 자의 개인정보 이용목적 :이메일, 휴대전화번호, 자택주소, 비밀번호, 로그인ID, 성별, 생년월일, 이름, 신용카드정보, 은행계좌정보, 서비스 이용 기록, 접속 로그, 쿠키, 접속 IP 정보, 결제기록, 법정대리인 이름, 법정대리인 자택 전화번호, 법정대리인 휴대전화번호
- 제공받는 자의 보유.이용기간:5년

<strong>4. 개인정보처리 위탁</strong>
① ('FanMeet')은(는) 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.
- 위탁받는 자 (수탁자) :주식회사 마인즈랩
- 위탁하는 업무의 내용 :구매 및 요금 결제, 물품배송 또는 청구서 등 발송, 본인인증(금융거래, 금융서비스), 요금추심, 회원제 서비스 이용에 따른 본인확인, 불만처리 등 민원처리, 고지사항 전달, 신규 서비스(제품) 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 영상정보처리기기 운영
- 위탁기간 :5년
② ('fanmeet.curogom.com'이하 'FanMeet')은(는) 위탁계약 체결시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적․관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리․감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.
③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.

<strong>5. 정보주체와 법정대리인의 권리·의무 및 그 행사방법 </strong>
이용자는 개인정보주체로써 다음과 같은 권리를 행사할 수 있습니다.
① 정보주체는 주식회사 알에프탭(‘fanmeet.curogom.com’이하 ‘FanMeet) 에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
1. 개인정보 열람요구
2. 오류 등이 있을 경우 정정 요구
3. 삭제요구
4. 처리정지 요구

<strong>6. 처리하는 개인정보의 항목 작성 </strong>
① ('fanmeet.curogom.com'이하 'FanMeet')은(는) 다음의 개인정보 항목을 처리하고 있습니다.
- 필수항목 :이메일, 휴대전화번호, 비밀번호, 로그인ID, 성별, 생년월일, 이름, 서비스 이용 기록, 접속 로그, 쿠키, 접속 IP 정보, 결제기록
- 선택항목 :자택주소, 신용카드정보, 은행계좌정보, 법정대리인 자택 주소, 법정대리인 휴대전화번호

<strong>7. 개인정보의 파기</strong>
개인정보의 파기('FanMeet')은(는) 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.
-파기절차
이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.
-파기기한
이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.

<strong>8. 개인정보 자동 수집 장치의 설치•운영 및 거부에 관한 사항</strong>
① 주식회사 알에프탭 은 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠기(cookie)’를 사용합니다.
② 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.
   가. 쿠키의 사용 목적 :이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.
   나. 쿠키의 설치•운영 및 거부 :웹브라우저 상단의 도구&gt;인터넷 옵션&gt;개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다.
   다. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.

<strong>9. 개인정보 보호책임자 작성 </strong>
① 주식회사 알에프탭(‘fanmeet.curogom.com’이하 ‘FanMeet) 은(는) 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.
▶ 개인정보 보호책임자
성명 :최정섭
직책 :대표이사
연락처 :0507-1369-1194, fanmeet@rftap.net,
※ 개인정보 보호 담당부서로 연결됩니다.
▶ 개인정보 보호 담당부서
부서명 :경영팀
담당자 :최정섭
연락처 :0507-1369-1194, fanmeet@rftap.net,
② 정보주체께서는 주식회사 알에프탭(‘fanmeet.curogom.com’이하 ‘FanMeet) 의 서비스(또는 사업)을 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 주식회사 알에프탭(‘fanmeet.curogom.com’이하 ‘FanMeet) 은(는) 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.

<strong>10. 개인정보 처리방침 변경 </strong>
①이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.

<strong>11. 개인정보의 안전성 확보 조치 </strong>
('FanMeet')은(는) 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.
1. 정기적인 자체 감사 실시
개인정보 취급 관련 안정성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.
2. 개인정보 취급 직원의 최소화 및 교육
개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.
3. 내부관리계획의 수립 및 시행
개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.
4. 해킹 등에 대비한 기술적 대책
&lt;주식회사 알에프탭&gt;('FanMeet')은 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.
5. 접속기록의 보관 및 위변조 방지
개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며, 접속 기록이 위변조 및 도난, 분실되지 않도록 보안기능 사용하고 있습니다.
6. 개인정보에 대한 접근 제한
개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.
7. 문서보안을 위한 잠금장치 사용
개인정보가 포함된 서류, 보조저장매체 등을 잠금장치가 있는 안전한 장소에 보관하고 있습니다.
8. 비인가자에 대한 출입 통제
개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.


<h2>유료서비스 이용약관</h2>
<strong>1. 목적 및 적용의 범위 등</strong>
1.1. 본 약관은 ‘서비스’내에서 판매되는 ‘유료상품’의 판매(구매)이용환불 등과 관련하여 ‘회사’와 ‘회원’간의 권리관계를 명확히 하는 것을 그 목적으로 합니다. 1.2. 본 약관은 ‘유료상품’을 구매하는 ‘회원’에게 적용됩니다. 1.3. 본 약관은 ‘이용약관’에 대한 부수적 약관으로, 본 약관에서 정하지 않은 부분은 ‘이용약관’에서 정한 바에 따릅니다.

<strong>2. 용어의 정의</strong>
2.1. ‘이용약관’에서 정의된 용어는 본 약관에서도 동일한 의미를 갖습니다. 2.2. 본 약관에서 추가적으로 정의하는 용어는 다음과 같습니다. - ‘유료상품'이란 ‘회원’이 ‘서비스’에서 일정 금액을 지불해야만 이용할 수 있는 ‘회사’의 ‘서비스’ 또는 상품을 의미합니다. '유료상품'에는 특정 '컨텐츠'에 대한 시청권 및/혹은 다운로드권, 특정 '컨텐츠'를 이용하고자 하는 기간 동안만 이용할 수 있는 기간제 상품, '서비스'내에서 구현되는 특정한 기능 등이 있습니다. '유료상품’의 세부내용은 설명 페이지 또는 멤버십 가입 안내문구에 상세히 작성되어 있으며 해당 설명 페이지 내용에 따라 이용 가능합니다.

<strong>3. 유료상품의 내용 및 변경/폐지 등</strong>
3.1 ‘회사’는 ‘회원’이 ‘유료상품’의 구입 전에 ‘유료상품’의 거래(구입)조건을 정확하게 이해하고 실수나 착오 없이 거래할 수 있도록 다음 각 호의 사항들을 적절한 방법으로 본 약관 및 ‘서비스’ 내에서 고지합니다. 아래 제2호의 설명 페이지 내용을 포함하여 각 호의 내용은 약관의 일부로서 ‘회사’와 ‘회원’을 구속합니다. ① 판매자의 상호, 대표자의 성명∙주소 및 전화번호 등 ② ‘유료상품’의 종류 및 가격, 이용방법, 이용시기, 이용조건 등 구체적 내용 ③ 청약철회 및 계약해제의 기한∙행사방법 및 효과, 환불 등에 관한 사항 ④ 소비자의 피해보상, 불만 처리 및 분쟁 처리에 관한 사항 3.2. ‘회사’는 ‘회원’에게 사전에 공지하고 ‘유료상품’의 종류와 가격 등 그 구체적인 내용을 변경하거나 특정한 ‘유료상품’을 폐지할 수 있습니다. 단, 그와 같은 변경 및 폐지가 ‘회원’에게 불리하거나 ‘회원’의 권리와 의무에 중대한 영향을 미치는 경우에는 ‘이용약관’ 제 4 조에 따른 공지 및 통지의 절차를 거쳐 변경합니다. 3.3. ‘회사’가 전 항에 따라 ‘유료상품’의 종류와 가격 등을 변경 혹은 폐지함에 따라 ‘회원’이 자신의 귀책없이 기존에 구매한 ‘유료상품’을 구매할 당시에 정한 조건 등에 따라 이용하지 못하게 될 경우, ‘회사’는 그와 같이 이용하지 못한 부분에 대하여 ‘회원’에게 적절한 보상을 합니다.

<strong>4. 유료상품 이용계약의 성립</strong>
‘유료상품’의 이용계약은 ‘회원’이 본 약관에 동의하고, ‘유료상품’을 구매함으로써 성립됩니다.

<strong>5. 유료상품의 구매 및 환불</strong>
5.1. ‘유료상품’의 구매는 신용카드, 휴대폰, 계좌이체 등 구글, 애플 등 모바일 어플리케이션 제공 회사’에서 제공 가능한 결제방식을 통해서 이루어집니다. 단, ‘회원’이 선택한 결제수단을 운영하는 사업자가 별도로 있는 경우, ‘회원’은 해당 결제수단을 이용하기 전에 해당 결제수단의 사업자가 요구하는 절차를 이행하여야 해당 결제수단을 이용하여 결제를 진행할 수 있습니다. 5.2. ‘회사’는 다음 각 호의 경우에는 ‘회원’의 구매 신청을 승낙하지 않거나 승낙을 유보하거나, 또는 승낙을 취소함으로써, ‘유료상품’ 이용계약의 성립을 거부하거나 취소할 수 있습니다. ① 실명이 아니거나 타인의 명의를 이용한 경우 ② 동일 IP 대량결제, 유사 ID에서의 연속적인 결제, 도용이력 등을 고려하여 지정된 위험 IP 에서의 결제 등 도용에 의한 충전으로 판단되는 경우 ③ 구매 과정에서 허위의 정보를 기재하거나, 필수사항을 기재하지 않은 경우 ④ 만 19세 미만의 미성년자가 법정대리인의 동의 없이 신청한 경우 ⑤ 결제에 대한 지급이 실제로 이뤄지지 않았거나 않을 가능성이 있는 경우 ⑥ (‘유료상품’을 포함하여) ‘컨텐츠’에 대한 저작권 침해 등 ‘이용약관’을 위반한 ‘회원’인 경우 ⑦ ‘이용약관’ 제9조에 따라 이용제한을 받은 ‘회원’인 경우 ⑧ 위 ① 내지 ⑦을 위반한 사실이 있는 ‘회원’인 경우 ⑨ 기타 이용 신청을 승인하는 것이 관계 법령이 위반되거나 사회 안녕 질서 및 미풍양속, 회사의 관련 약관 등에 위반되는 경우 5.3. ‘회사’는 다음의 각 호의 경우에는 각 호의 사유가 해소될 때까지 승인을 유보할 수 있습니다. ① ‘서비스’에 장애가 발생한 경우 ② ‘서비스’의 정상적인 운영을 위한 설비 혹은 관련 인력이 부족한 경우 5.4. ‘회사’는 ‘회원’이 정상적으로 ‘유료상품’을 구매하여 ‘유료상품’ 구매계약이 체결된 경우, 3.1항 각 호의 내용을 포함하여 계약체결의 내용을 즉시 ‘회원’에게 교부한다.

<strong>6. 미성년자 등의 계약체결에 대한 특칙</strong>
6.1. ‘회원’이 미성년자(만 19세 미만) 또는 제한능력자인 경우, ‘회원’은 ‘유료상품’ 구매를 위해 결제하기 전에, 법정대리인(부모 등)의 동의를 받아야 합니다. 6.2. 법정대리인은 언제든지 고객센터 또는 별도의 이메일(fanmeet@rftap.net) 을 통해 미성년자의 유료상품 구매를 철회 요청하실 수 있습니다. ▶고객센터:0507-1369-1194 6.3. ‘회원’이 미성년자임에도 불구하고 구매 과정에서 성년자(성인)인 타인의 고유정보를 도용하는 등의 방법으로 본인이 성년자(성인)인 것으로 표시하거나 또는 성년자(성인)인 타인의 결제정보를 이용하여 결제를 하는 등 속임수로써 ‘회사’로 하여금 ‘회원’이 성인(성년자)이거나 ‘회원’의 법정대리인의 동의가 있었던 것으로 믿게 한 경우에는 법정대리인의 동의가 없었더라도 ‘유료상품’ 구매를 ‘회원’ 또는 ‘회원’의 법정대리인이 일방적으로 취소하지 못합니다(민법 제17조).

<strong>7. 청약철회 등</strong>
7.1. ‘회원’은 『전자상거래등에서의 소비자 보호에 관한 법률』(이하 ‘전자상거래법’)에 따라 유상으로 구매한 상품에 대하여 계약체결에 대한 내용을 교부 받은 시점 혹은 상품을 공급 받은 시점으로부터 7일 이내에 청약의 철회 및 계약의 해제(이하 ‘청약철회등’)를 할 수 있습니다. 다만, ‘회원’이 구매한 상품을 이미 사용한 경우에는 사용한 부분에 대해서는 ‘청약철회등’이 불가능하며, 이러한 불가능 사유에 대해서는 상품 구입시 ‘회사’가 ‘회원’에게 명확하게 고지합니다. 7.2. 위 7.1.항에도 불구하고 상품의 내용이 표시∙광고의 내용과 다르거나 계약내용과 다르게 이행된 경우에는 ‘회원’은 그 상품을 공급받은 날로부터 3개월이내, 그 사실을 안 날 또는 알 수 있었던 날로부터 30일 이내에 ‘청약철회등’을 할 수 있습니다. 7.3. 위 7.1.항 혹은 7.2항에 따라서 ‘회원’이 ‘청약철회등’을 한 경우, ‘전자상거래법’에 따라 ‘회원’이 구매한 상품은 반환되며, ‘회사’는 ‘전자상거래법’에 따라 환급 절차를 진행합니다. 7.4. 기타 본 조에 따른 ‘청약철회등’에 대한 사항은 ‘전자상거래법’에 따라 규율 및 처리됩니다.

<strong>8. 청약철회등 이외의 환급 및 환불 등</strong>
‘회원’은 사용하지 않은 ‘유료상품’에 대해서 환불 요청을 할 수 있으며, ‘회사’는 ‘회원’의 환불 요청에 대해서 관련 법령을 준수하여 환불을 진행합니다. 다만, 이러한 환불 요청은 유상으로 구매한 ‘유료상품’에 대해서만 가능합니다.멤버십 환불의 자세한 내용은 멤버십 가입 안내문구 및 FAQ를 참고하시길 바랍니다.

<strong>9. 계약의 해지 등</strong>
9.1. ‘회원’과 ‘회사’는 상대방이 ‘유료상품’ 이용계약에 따라 약정한 의무를 상당한 기간 이내에도 이행하지 않을 경우, 해당 계약을 해지할 수 있습니다. 9.2. ‘회사’는 ‘회원’이 5.2항의 ①의 행위를 한 것을 확인한 경우, 해당 ‘회원’과의 ‘유료상품’ 이용계약을 즉시 해지할 수 있습니다.

<strong>10. 책임의 제한</strong>
10.1. ‘회사’는 천재지변 또는 이에 준하는 불가항력으로 인하여 구매된 ‘유료상품’을 약정 한대로 제공할 수 없는 경우에는 그에 대한 책임이 면제됩니다. 10.2. ‘회사’는 ‘회원’의 귀책사유로 인해 구매된 ‘유료상품’을 약정한대로 제공할 수 없는 경우에는 그에 대하여 ‘회사’의 고의 또는 중과실이 없는 한 책임이 면제됩니다.10.3. ‘회사’는 ‘회원’ 상호간 또는 ‘회원’과 제3자 간에 ‘유료상품’을 매개로 하여 발생한 분쟁 등에 대하여는 책임을 지지 않습니다.

<strong>11. 양도금지</strong>
‘회원’은 본 약관에 따라 발생한 계약상 지위 및 권리의무를 타인에게 양도하거나, 질권의 목적으로 삼는 등 일체의 처분행위를 할 수 없습니다.

<strong>12. 기타 소비자 피해보상 및 불만처리 등</strong>
12.1. ‘회사’의 고의 또는 과실로 인해 ‘회원’이 구매한 ‘유료상품’을 정상적으로 이용할 수 없는 등 ‘회원’에게 피해가 발생할 경우, ‘회사’는 그에 대한 해결을 위해서 최선의 노력을 하며 그와 더불어 해당 피해에 대한 적절한 보상을 합니다. 12.2. ‘회사’는 소비자의 피해보상, 불만 처리 및 분쟁 처리에 관한 사항, 환불에 대한 사항 등 소비자의 문제 제기에 대해서 해결하기 위해서 [팬밋 어플리케이션 &gt; 커뮤니티 &gt; 피드 탭] or [이메일 &gt; fanmeet@rftap.net]을 운영합니다.


<h2>서비스 운영 정책</h2>
본 운영 정책은 주식회사 알에프탭(이하 ‘회사’)이 제공하는 FANMeeT (이하 ‘서비스’)를 운영함에 있어, 서비스 내에 발생할 수 있는 문제 상황에 대하여 일관성 있게 대처하기 위하여 서비스 운영의 기준과 회원 여러분이 지켜주셔야 할 세부적인 사항이 규정되어 있습니다. 운영 정책을 지키지 않을 경우 불이익을 당할 수 있으니 주의 깊게 읽어 주시기 바랍니다.

<strong>제1조 (회원의 권리와 의무)</strong>
가. 회원의 권리 회원은 이메일 문의를 통해 회원 관련 문의 및 서비스에 대한 각종 문의를 포함하여 요청 및 건의를 할 수 있습니다.-[이메일 문의] fanmeet@rftap.net ① 회사는 서비스 내 회원들 간에 발생하는 분쟁 및 회원 스스로의 과실로 일어난 피해에 대해서는 개입하거나 조치하지 않습니다. 다만, 서비스를 이용 중 다른 회원의 운영 정책 위반 행위로 인해 피해를 입으신 경우, 회원은 이를 회사에 제보하여 운영 정책의 적용을 요청할 수 있으며 회사는 신고 내용을 확인하고 운영 정책에 따른 제재 조치를 취할 수 있습니다. ② 운영 정책의 적용 결과가 불만족스러울 경우 언제든지 온라인 및 이메일 문의를 통해 이의를 신청할 수 있습니다. 나. 회원의 의무 회원은 서비스 내에서 관계 법령을 위반하는 활동과 서비스 시스템 및 다른 회원의 정상적인 서비스 이용을 방해하는 활동을 하지 않습니다. 금지하는 활동을 하는 경우 정상적인 이용 회원의 신속한 보호를 위해 사전 안내 없이 위반/방해 활동 회원의 서비스 이용이 한시적, 영구적으로 제한할 수 있습니다. 또한 다른 회원의 콘텐츠가 본 커뮤니티 서비스 운영 정책에 위배되거나, 서비스 이용에 방해가 되는 것으로 판단될 경우 콘텐츠의 신고 기능을 활용하여 주시기 바랍니다.

<strong>제2조 (서비스의 이용제한)</strong>
가. 이용제한 사유에 해당되는 활동 및 불법성 활동 -불법 사행성, 도박 사이트를 홍보 -불법 제품 또는 인터넷에서 판매 금지된 물품을 판매하거나 홍보 -범법 행위에 대한 동기 부여 및 실행에 도움이 되는 정보를 제공 -악성코드, 바이러스 등의 프로그램을 설치/유포하여 회원의 정상적인 서비스 이용을 저해하거나, 회원의 개인정보를 탈취하려고 하는 경우 -방송, 음원, 영화, 만화 등 타인의 저작물을 당사자의 동의 없이 공유 -타인의 저작물을 불법적인 경로로 획득할 수 있는 정보나 방법을 제공 (예 :무료 다운로드 공유 등) -타인의 권리에 속하는 상표권, 의장권 등을 무단으로 침해 -게시물(전체 및 일부), 사진, 이미지를 무단 도용(불펌) -타인의 개인정보를 포함하고 있는 내용을 작성 -타인의 개인정보 및 계정, 기기를 도용/탈취하여 서비스를 가입하거나, 이용하는 경우 나. 음란, 청소년 유해 활동 -과도한 신체 노출이나 음란한 행위를 묘사 -성매매 관련 정보를 공유 -타인에게 성적 수치심이나 불쾌감을 유발할 수 있는 내용을 작성 -일반적인 사람이 보기에 혐오스럽고 눈살이 찌푸려지는 사진 또는 내용을 작성(예 :인간/동물의 사체 또는 훼손된 모습, 방뇨/배설/살인/자살의 장면 등) 다. 차별/갈등 조장 활동 -성별, 종교, 장애, 연령, 사회적 신분, 인종, 지역, 직업 등을 차별하거나 이에 대한 편견을 조장하는 내용을 작성 라. 도배/광고/홍보/스팸 활동 -동일한 내용을 동일 서비스 또는 여러 서비스에 반복적으로 등록(예 :행운의편지 등) -타인의 동의 없이 타인의 게시글 또는 공간에 광고/홍보 및 방문 유도를 목적으로 상업적 내용을 등록/전송하거나 ‘공감’, ‘친구신청’ 등의 활동을 하는 경우 -상업적 또는 홍보/광고, 악의적인 목적으로 서비스의 시스템 취약점을 이용하여 서비스를 가입/활동하는 경우 마. 계정 거래/양도/대리/교환 활동 -계정 및 계정 내 콘텐츠를 타인에게 판매, 양도, 대여하거나, 타인에게 그 이용을 허락 또는 이를 시도하는 행위 -타인의 계정 및 계정 내 콘텐츠를 취득하기 위해 구매, 양수, 교환을 시도하거나, 이를 타인에게 알선하는 활동 -타인을 기망하여 타인의 계정 및 계정 내 콘텐츠를 탈취하는 행위 바. 서비스에서 금지하는 활동 -정상적인 서비스 이용으로 볼 수 없는 다량의 계정 생성 및 서비스 가입/탈퇴, 반복적 유사 활동 -서비스 명칭 또는 회사의 임직원이나 서비스와 관련한 운영진을 사칭하여 다른 회원을 속이거나 이득을 취하는 등 피해와 혼란을 주는 행위 -욕설/비속어/은어 등 통상적인 금기어 사용과 그 외 회사와 회원이 공유하는 상식과 사회 통념에 반하는 비정상적인 활동 -언론사의 명의나 언론사의 직책 등을 사칭 또는 도용하여 기사 형태를 갖춘 게시물 중 그 내용이 허위로 판단되는 게시물을 게시하는 경우 사. 기타 이용제한 활동 -사용자가 더 이상 서비스를 사용할 의사가 없음을 확인하고 탈퇴하는 경우

<strong>제3조 (서비스 이용제한의 종류)</strong>
가. 콘텐츠 제한 -콘텐츠를 볼 수 없도록 노출이 제한됩니다. 나. 서비스 제한 -해당 서비스의 이용이 한시적, 영구적으로 일부 또는 전체 제한됩니다. 다. 계정 제한 -모든 서비스의 이용이 한시적, 영구적으로 제한됩니다. 라. 가입/탈퇴 제한 -일부 서비스의 경우, 해당 서비스 탈퇴 후 재가입이 일정기간 동안 제한됩니다. 이용제한은 위반 활동의 누적 정도에 따라 한시적 제한에서 영구적 제한으로 단계적으로 제한 됩니다. 위의 항목에 구체적으로 해당하지 않은 사항이라 하더라도 건전한 서비스 환경 제공에 악영향을 끼치는 경우 커뮤니티의 이용정책에 의거하여 이용제한 될 수 있습니다. 단, 음란 콘텐츠 게시/유포 및 사행성 도박 홍보 등 관련 법률에서 금지하는 불법 활동에 대해서는 위반 활동의 누적 정도와 관계없이 일시에 영구적으로 제한될 수 있습니다. 이용제한에 대한 이의 제기는 온라인 문의 및 이메일 문의를 통해 언제든지 신청할 수 있습니다.


<h2>책임의 한계와 법적 고지</h2>
<strong>제1조 (책임의 한계)</strong>
주식회사 알에프탭(이하 ‘회사’라 함)는 FANMeeT 서비스(이하 ‘서비스’라 함)에서 제공되는 영상, 링크, 광고, 회원의 게시물 및 댓글 등 모든 콘텐츠(이하 ‘서비스 콘텐츠’라 하며, ‘회사’가 제공하는 이용약관에서 ‘서비스 콘텐츠’ 또는 ‘콘텐츠’라 표현함)의 정확성이나 신뢰성 혹은 적절성에 대해 어떠한 보증도 하지 않으며, ‘서비스’를 통한 광고, 기타 정보 또는 제안의 결과로서 구매 또는 취득하게 되는 제3자의 제품 또는 기타 정보 등의 질에 대해서도 어떠한 보증도 하지 않습니다.귀하는, ‘서비스’ 및 ‘서비스 콘텐츠’를 자신의 책임 하에 이용함을 인정합니다. 이에 따라 ‘회사’는 귀하의 ‘서비스’ 및 ‘서비스 콘텐츠’의 이용 자체에 대해서 직접, 간접, 부수적, 징벌적, 파생적인 손해에 대해서 책임을 지지 않습니다. ‘회사’는 ‘서비스’ 및 ‘서비스 콘텐츠’의 내용을 수정할 의무를 지지 않습니다. 다만, ‘회사’는 필요에 따라 ‘서비스’를 임의로 개선할 수는 있습니다.

<strong>제2조 (법적 고지)</strong>
귀하는, ‘서비스 콘텐츠’를 ‘서비스’ 내에서 ‘서비스’가 허용하는 범위에서 시청하는 것 이외에 ‘서비스 콘텐츠’를 임의로 다운로드하거나 추출할 수 없으며, ‘서비스 콘텐츠’를 ‘회사’의 동의 없이 외부에 전송, 게시하는 등의 행위 또한 금지됩니다. 귀하는, ‘회사’의 ‘서비스’ 및 ‘서비스 콘텐츠’ 제공 시스템에 ‘회사’가 허락하지 않은 방식으로 접근할 수 없으며, 특히 프로그램 등을 이용한 기계적 접근이나 제3자의 계정정보를 이용한 접근은 엄격히 금지됩니다. 귀하는, ‘서비스’와 관련된 일체의 정보 및 권리들, 특히 ‘서비스’ 관련 저작물 및 상표 등을 ‘회사’의 허락 없이 사용할 수 없으며, 귀하가 ‘서비스’ 및 ‘서비스 콘텐츠’에 대한 권리자로 오인하도록 하는 행위 또한 금지됩니다. 귀하는, ‘서비스’ 및 ‘서비스 콘텐츠’를 시청하는 과정에서 습득하게 되는 ‘회사’ 및 제3자에 대한 개인정보를 포함하는 모든 정보에 대하여 해당 정보주체의 동의 없이 외부로 누설하거나 (재)배포, 전송해서는 안됩니다. 귀하는, 위와 같은 제한사항들에 대해 숙지하고 준수해야 하며, 위반 시 그에 대한 민형사상 법적 책임을 질 수 있음을 인지하고 동의합니다. 귀하가 위와 같은 책임의 한계 및 법적 고지 내용에 동의하지 않을 경우에는 ‘서비스’ 이용을 할 수 없으므로, 그러한 경우에는 ‘서비스’ 이용을 즉시 중단하시기 바랍니다.
        </div>
        <!-- //.txt -->
    </div>
    <!-- //.terms -->
</div>
</body>
</html>